.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header_title {
    user-select: none;
    transition: background 20ms ease-in;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 24px;
    padding-inline: 6px;
    border-radius: 6px;
    white-space: nowrap;
    font-size: 14px;
    flex-shrink: 1;
    line-height: 1.2;
    min-width: 0px;
    color: rgb(50, 48, 44);
    &:hover {
        background-color: rgba(42, 28, 0, 0.07);
    }
}
.page-header {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font: inherit;
    color: inherit;
    height: 44px;
    display: flex;
    align-items: center;
    padding-inline: 12px 10px;
}

.page-main {
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    z-index: 1;
    height: calc(-44px + 100vh);
    max-height: 100%;
    position: relative;
    padding-bottom: 0px;
    width: 708px;
}

/* 모바일 (480px 이하) */
@media screen and (max-width: 720px) {
  .page-main {
    width: 100%;
    flex-direction: column;
    padding: 12px;
    height: auto;
  }
}

.page-icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.page-menus:hover .page-icon {
    opacity: 1;
    visibility: visible;
}

.page-icon:hover {
    background-color: rgba(42, 28, 0, 0.07);
}

.page-icon {
    user-select: none;
    transition: opacity 100ms;
    cursor: pointer;
    opacity: 1;
    display: inline-flex;
    align-items: center;
    height: 28px;
    padding-inline: 8px;
    border-radius: 6px;
    white-space: nowrap;
    font-size: 14px;
    flex-shrink: 0;
    line-height: 1.2;
    min-width: 0px;
    color: rgba(70, 68, 64, 0.45);
    pointer-events: auto;
}

.page-title {
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-inline: 2px;
    font-size: 36px;
    border: none;
    color: rgb(50, 48, 44);
    &::placeholder {
        color: rgba(55, 53, 47, 0.15);
    }
}

.page-introduce {
    min-height: 40px;
    padding: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 8px;
    margin-top: 8px;
    white-space: pre-wrap;
    &:active {
        outline: none;
    }
}

.page-introduce:empty::before {
    content: attr(data-placeholder);
    color: #aaa;
}
